#sky {
    /* background-image: url("./../../../assets/sky.png"); */
    background-size: auto 100%;
    /* height: 3rem; */
}

#cpus {
    background-size: auto 100%;
}

#memory {
    background-size: auto 100%;
}