<div id="outer">
    <div class="" id="fixed">
        <div class="" id="sky">
            <h1 id="playbill" class="ms-4">{{title}}</h1>
        </div>

        <!-- <div class="bg-info">
            <app-clock></app-clock>
        </div> -->

        <div class="mx-3" id="cpus">
            <div class="row align-items-center">
                <div class="col-sm-4 col-md-3 col-lg-2 p-1" *ngFor="let cpu of cpus; let i = index">
                    <app-cpu [CPU]="i"></app-cpu>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-2 p-1">
                    <app-memory></app-memory>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-2 p-1">
                    <app-clock></app-clock>
                </div>
            </div>
        </div>

        <!-- <div class="mx-3" id="memory">
            <div class="row justify-content-center">
                <div class="col-md-3 p-1">
                    <app-memory></app-memory>
                </div>
            </div>
        </div> -->
    </div>

    <div class="bg-secondary" id="remaining">
        <!-- <p>=P</p> -->
    </div>
</div>