#sky {
    /* background-image: url("./../../../assets/sky.png"); */
    background-size: auto 100%;
    /* height: 3rem; */
}

#cpus {
    /* background-image: url("./../../../assets/animals.png"); */
    background-size: auto 100%;
    /* height: 10rem; */
}

#memory {
    /* background-image: url("./../../../assets/animals.png"); */
    background-size: auto 100%;
    /* height: 10rem; */
}