@font-face {
    font-family: "CONSOLA";
    src: url("./assets/fonts/CONSOLA.TTF") format("truetype");
}

@font-face {
    font-family: "PLAYBILL";
    src: url("./assets/fonts/PLAYBILL.ttf") format("truetype");
}

#playbill {
    font-family: 'PLAYBILL';
    font-size: 4.5em;
}

#console {
    font-family: 'CONSOLA';
}

#console-title {
    font-family: 'CONSOLA';
    font-size: 0.9em;
}

html,
body,
#outer {
    height: 100%;
    width: 100%;
    margin: 0;
}

#outer {
    display: table;
}

#fixed {
    /* height: 50px; */
    display: table-row;
}

#remaining {
    display: table-row;
}