@font-face {
    font-family: "CONSOLA";
    src: url("./assets/fonts/CONSOLA.TTF") format("truetype");
}

#console {
    font-family: 'CONSOLA';
}

html,
body,
#outer {
    height: 100%;
    width: 100%;
    margin: 0;
}

#outer {
    display: table;
}

#fixed {
    /* height: 50px; */
    display: table-row;
}

#remaining {
    display: table-row;
}