html,
body,
#outer {
    height: 100%;
    width: 100%;
    margin: 0;
}

#outer {
    display: table;
}

#fixed-height {
    /* height: 50px; */
    display: table-row;
}

#remaining-height {
    display: table-row;
}