<p class="h6 ms-2"><strong>Cache</strong></p>
<ul class="list-group list-group-flush mb-3">
    <li class="list-group-item pt-0">
        <div class="row" id="console-title">
            <div class="col-3 p-0">
                <span class="badge bg-primary">Slot</span>
            </div>
            <div class="col-3 p-0">
                <span class="badge bg-primary">Sta.</span>
            </div>
            <div class="col-3 p-0">
                <span class="badge bg-primary">Dir.</span>
            </div>
            <div class="col-3 p-0">
                <span class="badge bg-primary">Dat.</span>
            </div>
        </div>
    </li>
    <li class="list-group-item" *ngFor="let block of blocks; last as isLast">
        <div class="row">
            <div class="col-3">
                <div>
                    <p class="m-0" id="console"><span class="">{{block.slot}}</span></p>
                </div>
            </div>
            <div class="col-3">
                <div *ngIf="block.state == ''">
                    <p class="m-0" id="console"><span class="">...</span></p>
                </div>
                <div *ngIf="block.state">
                    <p class="m-0" id="console"><span class="">{{block.state}}</span></p>
                </div>
            </div>
            <div class="col-3">
                <div>
                    <p class="m-0" id="console"><span class="">{{block.direction}}</span></p>
                </div>
            </div>
            <div class="col-3">
                <div>
                    <p class="m-0" id="console"><span class="">{{block.data}}</span></p>
                </div>
            </div>
        </div>
    </li>
</ul>